/* UTILITY */
body {
 font-family: 'Roboto', sans-serif;
 min-width: 490px;
}

.white_color {
  color: white;
}

.grey_color {
  color: rgba(255,255,255,0.7);
}

.tiffany_color a {
 color: #00d7d2;
}


/* HEADER */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  color: #6F7C9A;
  background-color: #FFFF;
  line-height: 80px;
  z-index: 3;
}

header img {
 height: 30px;
}

.nav_left li {
 height: 50px;
 display: inline-block;
}

.nav_left li a {
text-decoration: none;
padding-right: 5px;
font-weight: bold;
font-size: 13.5px;
}

.nav_right li {
 height: 50px;
 display: inline-block;
}

.nav_right li a {
text-decoration: none;
padding-right: 5px;
font-weight: bold;
font-size: 13.5px;
}

.nav_button {
  color: #0049FF;
  background-color: #FFFF;
  padding-left: 5px;
}

.menu_burger {
  color: #0049FF;
  font-size: 30px;
}

.header_bottom {
  background-image: url(../img/bg_header.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
}

.simplest {
 margin-top: 50px;
 margin-bottom: 50px;
 color:#FFFF;
 padding: 40px;
}

.simplest h1 {
 font-size: 50px;
 font-weight: bold;
}

.simplest p {
 font-size: 20px;
 color:rgba(255,255,255,0.7);
}

.deloy {
 margin-top: 50px;
 margin-bottom: 50px;
 background-color: white;
 border-radius: 10px;
 padding: 20px;
}

.blue {
  color: #0049FF;
}

.black {
  color: black;
}

.btn_create {
  width: 100%;
  margin-top: 10px;
  background-color: #0049FF;
  color: white;
  font-weight: bold;
}

.btn_google {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.google img {
  height: 15px;
}

.text_google {
  display: inline-block;
  text-align: center;
}

.google {
  float: left;
}

.form_deloy {
  margin-top: 10px;
  box-shadow: none;
}


/* MAIN */
#logo {
  padding-top: 50px;
  background-color: #F3F5F9;
}

.innovative {
  text-transform: uppercase;
}

.innovative {
  text-transform: uppercase;
  color: grey;
  font-size: 15px;
  font-weight: bold;
}

.logo_link {
  padding-bottom: 20px;
}


ul.list-inline {
  list-style: none;
}

ul.list-inline li {
  display: inline-block;
  width: calc((100% / 6) - 6px)
}

ul.list-inline li img {
  width: 100%;
  vertical-align: middle;
}

#deploy {
  padding-top: 100px;
}

.riga_uno {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.riga_uno ul {
  list-style: none;
  border-left: 1px solid grey;
}

.riga_uno ul li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 10px;
}


.riga_uno h5 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.riga_uno p {
  padding-top: 5px;
  padding-bottom: 5px;
  color: grey;
}

.riga_due {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.deploy_text h2 {
  font-weight: bold;
  color: black;
}

.deploy_text p {
  font-weight: bold;
  color: grey;
}

#designed {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F3F5F9;
}

#designed .freccia .icona {
  margin-top: 210px;
}

.icona {
  font-size: 40px;
}

.designed_img {
  height: 450px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.designed_text h2 {
  font-weight: bold;
  color: black;
}

.designed_text p {
  font-weight: bold;
  color: grey;
}

.create_text {
  font-weight: bold;
  color: #0F2656;
}

.circle {
  color: #0049FF;
}

#features {
  padding-top: 100px;
  padding-bottom: 100px;
}

.features_title {
  font-weight: bold;
}

.features_text {
  margin: 10px;
}

.features_title {
  color: #0F2656;
}

.features_text h5 {
  font-weight: bold;
  color: #0F2656;
}

.features_text p {
  color: grey;
}

.features_text a {
  font-weight: bold;
}

.features_text img {
  margin-top: 10px;
}


#service {
  background: linear-gradient(45deg, #0F2656, #0049FF);
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.table_left {
  width: 100%;
  font-weight: bold;
  padding: 20px;
  margin: 10px 0;
}

.table_left .row {
  border-bottom: 1px solid white;
  line-height: 40px;
}

.table_left .row:last-child {
  border-bottom: 0;
  line-height: 40px;
}

.table_right {
  width: 100%;
  font-weight: bold;
  padding: 20px;
  margin: 10px 0;
}

.table_right .row {
  border-bottom: 1px solid white;
  line-height: 40px;
}

.table_right .row:last-child {
  border-bottom: 0;
  line-height: 40px;
}

.service_title {
  font-weight: bold;
  color: white;
}




#development {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F3F5F9;
}

.development_img {
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.development_text {
  text-align: center;
  color: #0F2656;
}

.rockerbox {
  background-color: white;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.rockerbox a {
  text-decoration: none;
  font-weight: bold;

}

.rockerbox p {
  font-weight: bold;
  color: grey;
}

.rockerbox h5 {
  font-weight: bold;
  color: #0F2656;
}

#development .freccia .icona {
  margin-top: 210px;
}

.rockerbox img {
  margin-top: 10px;
  margin-bottom: 10px;
}


#get {
  background: linear-gradient(45deg, #0F2656, #0049FF);
  padding-top: 100px;
  padding-bottom: 100px;
}

#get h2 {
  color: white;
  font-weight: bold;
}

.get_button {
  background-color: white;
  color: #0049FF;
  font-weight: bold;
  margin-top: 10px;
}

/* FOOTER */

footer {
  background-color: #0F2656;
}


.footer_text {
  margin-top: 10px;
  color: rgba(255,255,255,0.7);
}

.footer_text dt {
  font-weight: bold;
  color: white;
}

.footer_text dt dd {
  font-weight: bold;
  color: rgba(255,255,255,0.7);
}

/* CHATBAR*/
#chatbar {
  position: fixed;
  bottom:0;
  right: 0;
  z-index: 3;
  width: 100%;
  vertical-align: bottom;
  cursor: pointer;
}

.chatbar_left {
  float: right;
  border-radius: 5px;;
  display: inline-block;
  width: 18%;
  height: 60px;
  margin: 10px;
  padding: 10px;
  color: #0F2656;
  background-color: white;
}

.chatbar_right {
  position: relative;
  display: inline-block;
  float: right;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 80px;
  width: 80px;
  background-image: url(../img/squalo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #0049FF;
  border-radius: 5px;
  box-shadow: 10px 10px 31px -11px rgba(130,199,245,0.65);

}

.number {
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 75%;
  left: 75%;
  padding: 5px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: red;
  color: white;
  text-align: center;
}

.help_text {
  font-weight: bold;
}







/* MEDIA QUERIES */
@media all and (max-width:768px) {
  .simplest {
   margin-top: 0;
   margin-bottom: 0;
   padding: 0;
   font-size: 10px;
  }

  .header_bottom {
    background-image: url(../img/bg_header.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    padding-bottom: 40px;
  }

  .deloy {
   margin-top: 0;
   margin-bottom: 0;
   background-color: white;
   border-radius: 10px;
   padding: 20px;
   font-size: 10px;
  }

  .simplest h1 {
   font-size: 30px;
   font-weight: bold;
  }

  .simplest p {
   font-size: 30px;
   color:rgba(255,255,255,0.7);
  }

  .freccia {
    display: none;
  }

  .designed_img {
    height: 100%;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .circle {
    display: inline-block;
    color: #0049FF;
    margin-top: 100px;
  }

  .rockerbox img {
    height: 100%;
    width: 100%;
  }

  ul.list-inline li {
    display: inline-block;
    width: calc((100% / 2) - 6px)
  }

  .white_color {
    color: white;
    font-size: 80%;
  }

  .grey_color {
    color: rgba(255,255,255,0.7);
    font-size: 80%;
  }

  .tiffany_color a {
   color: #00d7d2;
   font-size: 80%;
  }

}


@media all and (min-width: 768px) and (max-width: 992px) {

  .simplest {
   margin-top: 0;
   margin-bottom: 0;
   padding: 0;
   font-size: 10px;
  }

  .deloy {
   margin-top: 0;
   margin-bottom: 0;
   background-color: white;
   border-radius: 10px;
   padding: 20px;
   font-size: 10px;
  }

  .simplest h1 {
   font-size: 30px;
   font-weight: bold;
  }

  .simplest p {
   font-size: 30px;
   color:rgba(255,255,255,0.7);
  }

  .designed_img {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .circle {
    display: inline-block;
    color: #0049FF;
    margin-top: 100px;
  }

  #designed .freccia .icona {
    margin-top: 150px;
  }

}


@media all and (min-width: 992px) and (max-width: 1200px) {

  .logo_box img {
    height: 100px;
    padding: 11px;
  }

  #logo .logo_box .splunk {
   margin-top: 28px;
   height: 50px;
 }

  .designed_img {
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

}
