/* UTILITY */


/* HEADER */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  color: white;
  background-color: #2C3E50;
  line-height: 80px;
  z-index: 3;
}

.header_bottom {
  background-image: url(../img/bg_header.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
}

.simplest {
 margin: 50px;
}

.deloy {
 margin: 50px;
}
