/* UTILITY */
body{
font-family: 'Roboto', sans-serif;
}


/* HEADER */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  color: #6F7C9A;
  background-color: #FFFF;
  line-height: 80px;
  z-index: 3;
}

header img {
 height: 30px;
}

.nav_left li {
 height: 50px;
 display: inline-block;
}

.nav_left li a {
text-decoration: none;
padding-right: 5px;
font-weight: bold;
font-size: 13.5px;
}

.nav_right li {
 height: 50px;
 display: inline-block;
}

.nav_right li a {
text-decoration: none;
padding-right: 5px;
font-weight: bold;
font-size: 13.5px;
}

.nav_button {
  color: #0049FF;
  background-color: #FFFF;
  padding-left: 5px;
}

.menu_burger {
  color: #0049FF;
  font-size: 30px;
}

.header_bottom {
  background-image: url(../img/bg_header.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
}

.simplest {
 margin-top: 50px;
 margin-bottom: 50px;
 color:#FFFF;
 padding: 50px;
}

.deloy {
 height: 400px;
 margin-top: 50px;
 margin-bottom: 50px;
 background-color: white;
 border-radius: 10px;
 padding: 20px;
}

.blue {
  color: #0049FF;
}

.black {
  color: black;
}

.btn_create {
  width: 100%;
  margin-top: 10px;
}

.btn_google {
  width: 100%;
  margin-top: 10px;
}

.form_deloy {
  margin-top: 10px;
  box-shadow: none;
}


/* MAIN */
#logo {
  padding-top: 100px;
  background-color: #F3F5F9;
}

.logo_box {
  height: 300px;
  width: 100%;
  margin-bottom: 30px;
  background-color: yellow;
}

#deloy {
  padding-top: 100px;
}

.riga_uno {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.riga_due {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#designed {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F3F5F9;
}

.designed_img {
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#features {
  padding-top: 100px;
  padding-bottom: 100px;
}

.features_text {
  margin: 10px;
}

#service {
  background-color: #0049FF;
  padding-top: 100px;
  padding-bottom: 100px;
}

#development {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F3F5F9;
}

.development_img {
  height: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#get {
  background-color: #0049FF;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* FOOTER */
.footer_text {
  padding: 10px;
}
